/nbproject/private/
/resources/images/
/resources/facturas/
/resources/recibos/
/resources/remisiones/
/resources/ordenCompra/
/resources/cotizaciones/
/resources/logs/
/resources/gitgit/
/resources/tmp/
/index.php
/sftp-config.json
/.htaccess